-var titulo = "Juego del 2020"
-var titulos = ["Titulo A","Titulo B","Titulo C"]
-var usuario ="Walter"
mixin caja(imagen,titulo,contenido)
   .caja
    .caja__imagen: img(src="images/"+imagen)
    .caja__contenido
     h3 #{titulo}
     p #{contenido}

doctype html
html
 head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/ejercicio-pug.css")
body
 header
  h1 MasterGames
  if usuario
   a Hola #{usuario}
  else
   a.boton Registrarse
 section.intro
  .intro__imagen: img(src="images/imagen.png")
  .intro__contenido
   h2 #{titulo}
   p. 
    Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Vitae, praesentium! 
    Autem sapiente, quo veritatis perspiciatis 
    ipsa culpa a adipisci eligendi totam dolores sit enim optio 
    fugiat sequi aspernatur dolor assumenda!
   a.boton Leer mas
 main.contenido
  +caja('imagen.png',titulos[0],'Lorem ipsum dolor sit amet, consectetur')
  +caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet, consectetur')
  +caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet, consectetur')
